<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="%oda.data.source.id"
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            driverClass="oda.datatools.connectivity.rest.siq.impl.RESTDriver"
            defaultDisplayName="%data.source.name"
            setThreadContextClassLoader="false"
            odaVersion="3.2"
            id="oda.datatools.connectivity.rest.siq">
      </dataSource>
      <dataSet
            defaultDisplayName="%data.set.name"
            id="oda.datatools.connectivity.rest.siq.dataSet">
         <dataTypeMapping
               nativeDataTypeCode="1"
               odaScalarDataType="String"
               nativeDataType="java.lang.String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="4"
               odaScalarDataType="Integer"
               nativeDataType="java.lang.Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="8"
               odaScalarDataType="Double"
               nativeDataType="java.lang.Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal"
               nativeDataType="java.math.BigDecimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="91"
               odaScalarDataType="Date"
               nativeDataType="java.lang.Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="92"
               odaScalarDataType="Time"
               nativeDataType="java.util.Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp"
               nativeDataType="java.sql.Timestamp;">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean"
               nativeDataType="java.lang.Boolean">
         </dataTypeMapping>
          <dataTypeMapping
               nativeDataTypeCode="11"
               odaScalarDataType="JavaObject"
               nativeDataType="java.lang.javaObject">
         </dataTypeMapping>
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            name="%data.source.name"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory"
            id="%oda.data.source.id">
      </category>
      <connectionProfile
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            name="%connection.profile.name"
            category="%oda.data.source.id"
            id="%oda.data.source.id">
      </connectionProfile>
      <connectionFactory
            name="ODA Connection Factory"
            profile="%oda.data.source.id"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection">
      </connectionFactory>
   </extension>

</plugin>
